<mat-card align="center"> 
    <h3>{{headline}}</h3>
    <form #addForm="ngForm" (ngSubmit)="onSubmit()">
      <div class="example-container">
        <mat-form-field>
          <input matInput placeholder="Post Name" [(ngModel)] = "name"
                           name = "name"
                           required #spy
                           #temp = "ngModel">
          <mat-error *ngIf="!(temp.valid || temp.pristine)">
            The title is required
          </mat-error>                        
        </mat-form-field>
        <br>
        <mat-form-field>
            <input matInput placeholder="Author Name" [(ngModel)] = "author"
                             name = "author"
                             required #spy
                             #temp = "ngModel">
            <mat-error *ngIf="!(temp.valid || temp.pristine)">
                Author name is required
            </mat-error>                        
          </mat-form-field>
          <br>
        <mat-form-field>
            <input matInput placeholder="Body" [(ngModel)] = "body"
                             name = "body"
                             required #spy
                             #temp = "ngModel">
            <mat-error *ngIf="!(temp.valid || temp.pristine)">
               Body is required
            </mat-error>                        
          </mat-form-field>
        
        <div >
            <button mat-raised-button color="primary"  [disabled]="!addForm.form.valid">{{textButton}}</button>
            <button mat-stroked-button color="primary" routerLink="/posts" >Cancel</button>
        </div>
      </div>
    </form>
    </mat-card>





<!-- <div class="container mt-3">
    <form>
        <div class="form-group">
            <label>Title</label>
            <input type="text" class="form-control" [(ngModel)]="post.title" name="title">
        </div>
        <div class="form-group">
            <label>Body</label>
            <input type="text" class="form-control" [(ngModel)]="post.body" name="body">
        </div>
        <div class="form-group">
            <label>Authur</label>
            <input type="text" class="form-control" [(ngModel)]="user.name" name="name">
        </div>
    </form>
</div> -->