
<mat-accordion >
    <div align="right">
    <button  mat-button color="primary"> Save to Firebase</button>  
    <p>{{check}}</p></div>
    <div align="top-left">
    <button  mat-stroked-button color="primary" routerLink="/postform">Add New Post</button>  </div>
    <mat-expansion-panel *ngFor="let post of listOfPosts$ | async">
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{post.name}}
            </mat-panel-title>
            <mat-panel-description >
                <div>  Author: {{post.author}}</div>
            </mat-panel-description>
            <button mat-raised-button color="primary" [routerLink]="'/postform/'+post.id">Edit</button> 
            <button mat-raised-button color="" (click)=deletePost(post.id)>Delete</button> 

        </mat-expansion-panel-header>
                {{post.body}}
    </mat-expansion-panel>
</mat-accordion>

