
<p *ngIf = "!(nameOfAuthor$ | async)">Loading..</p>
<mat-list>
    <mat-list-item *ngFor="let author of nameOfAuthor$ | async">
      <mat-list-item>{{ author.name }} </mat-list-item>

    </mat-list-item>
</mat-list>
<mat-card>
  <form #authForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="example-container" *ngIf = "(nameOfAuthor$ | async)">
        <mat-form-field >
           <input matInput placeholder="Author Name" [(ngModel)] = "name"
                  name = "authorName"
                  required #spy
                  #temp = "ngModel">
      </mat-form-field>
    
    <div class="example-button-row">
            <button mat-stroked-button color="primary" [disabled]="!authForm.form.valid">Add Author</button>
    </div></div>
  </form>
    

</mat-card>
   <!--<p>
   <br> Options selected: {{authors.selectedOptions.selected.length}} 
  </p>--> 

  